<h1>React Calender</h1>

<h2>Appointments</h2>

<h3>Make a new appointment</h3>

<%= form_for @appointment do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :appt_time %>
  <%= f.submit 'Make Appointment' %>
<% end %>

<% @appointments.each do |a| %>
  <h3><%= a.title %></h3>
  <p><%= a.title %></p>
<% end %>
